/* src/components/Booking.css */
.booking-container {
    max-width: 500px;
    margin: 100px auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
  }
  
  .booking-form h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  